
@{
    ViewBag.Title = "Listele";
}

@using UrunSatisOtomasyon.Models
@{
    Layout = null;
}

@model IEnumerable<Personel>

<h2>Listele</h2>

<table style="border:1px solid black">
    <thead>
        <tr>
            <th>Ad</th>
            <th>Soyad</th>
            <th>Numara</th>
            <th>TC</th>
        </tr>

    </thead>
    <tbody style="">
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Ad</td>
                <td>@item.Soyad</td>
                <td>@item.Numara</td>
                <td>@item.Tc</td>
            </tr>
        }
    </tbody>
</table>
}
